.productPage {

    outline: 1px solid green;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__product-images {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px;

        flex: 1;
    
        outline: 1px solid red;

        .current-image {
            width: 50%;

            img {
                max-width: 500px;
                border-radius: 10px;
            }
        }

        .thumbnails {
            max-width: 500px;
            padding-top: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;

            outline: 1px solid red;
            
            img {
                max-width: 100px;
                border-radius: 10px;

                &:hover {
                    border: 2px solid hsl(26, 100%, 55%);
                }
            }
        }
    }

    &__productText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 50px;
        // max-width: 40%;

        flex: 1;

        .title {
            color: hsl(26, 100%, 55%);
            font-weight: 700;
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        h1 {
            font-size: 36px;
            line-height: 42px;
            padding: 15px 0 30px 0;
        }

        p {
            color: hsl(220, 14%, 75%);
        }

    }
}