.productPage {
    .product-container {
        display: flex;
    justify-content: center;
    align-items: center;

    &__product-images {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        padding: 30px;

        flex: 1;

        // outline: 1px solid red;

        .current-image {
            max-width: 400px;

            img {
                max-width: 100%;
                border-radius: 10px;
                align-self: center;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .thumbnails {
            max-width: 400px;
            padding-top: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
            
            img {
                max-width: 20%;
                border-radius: 10px;
                align-self: center;

                &:hover {
                    opacity: 60%;
                    cursor: pointer;
                }

                &:active {
                    border: 2px solid $primary-orange;
                }
            }
        }

        @media screen and (max-width: 767px){
            width: 100%;
            align-items: center;
            padding: 10px;
        }
    }

    &__productText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 50px;
        // max-width: 40%;

        flex: 1;

        .title {
            color: $primary-orange;
            font-weight: 700;
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        h1 {
            font-size: 42px;
            line-height: 48px;
            padding: 15px 0 30px 0;

            @media screen and (max-width: 767px){
                font-size: 32px;
                line-height: 38px;
            }
        }

        p {
            color: $neutral-grayish-blue;
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;

            @media screen and (max-width: 767px){
                font-size: 16px;
            }
        }

        .price {
            display: flex;
            flex-direction: column;
            justify-content: center;
            

            font-weight: 700;
            padding: 20px 0;

            .discounted-price {
                font-size: 22px;
                font-weight: 700;
                margin-right: 20px;

                span {
                    display: inline-block;
                    font-size: 12px;
                    background: $primary-pale-orange;
                    margin-left: 10px;
                    padding:3px 5px;
                    border-radius: 5px;
                    color: $primary-orange;
                }
            }

            .normal-price {
                font-size: 12px;
                margin-top: 5px;
                color: $neutral-grayish-blue;
            }

            @media screen and (max-width: 767px){
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }
        }

        .buttons {

            display: flex;
            .qty {
                width: 90px;
                background: $neutral-light-grayish-blue;

                display: flex;
                justify-content: space-evenly;
                align-items: center;

                border-radius: 5px;
                height: 35px;
                // outline: 1px solid red;

                #minus {
                    padding: 5px 10px;
                    background: $neutral-light-grayish-blue;
                    outline: none;
                    border: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        max-width: 10px;

                        &:hover {
                            opacity: 60%;
                        }
                    }
                }

                span {
                    background: $neutral-light-grayish-blue;
                    font-size: 12px;
                    font-weight: 700;
                    padding: 5px 10px;
                    // outline: 1px solid red;
                }

                #plus {
                    padding: 5px 10px;
                    background: $neutral-light-grayish-blue;
                    outline: none;
                    border: none;
                    // outline: 1px solid red;

                    img {
                        max-width: 10px;
                        
                        &:hover {
                            opacity: 60%;
                        }
                    }
                }

                @media screen and (max-width: 767px){
                    width: 100%;
                }
            }

            .addToCart {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 10px;

                img {
                    max-width: 15px;
                    margin-right: 10px;
                }
            }

            @media screen and (max-width: 767px) {
                flex-direction: column;

                .addToCart {
                    width: 100%;
                    margin: 10px 0;
                }
            }
        }
    }

    @media screen and (max-width: 767px){
        flex-direction: column;
        width: 100%;

        &__product-images {
            width: 100%;
            outline: 1px solid green;
        }

        &__productText {
            padding: 30px 0;

        }
    }

    }
    
    .popup {
        position: fixed;
        top: 0;
        left: 0;
        background-color: hsla(0, 0%, 0%, .75);
        height: 100%;
        width: 100%;
        z-index: 100;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        span {
            position: absolute;
            top: 9.5%;
            right: 35.5%;
            font-size: 40px;
            font-weight: 400;
            cursor: pointer;
            color: $neutral-white;

            &:hover {
                color: $primary-orange;
                transition: 0.4s;
            }
        }

        .featured-image {
            max-width: 400px;

            img {
                max-width: 400px;
                border-radius: 10px;
                align-self: center;

                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        
        .popupThumbnails {
            max-width: 350px;
            padding-top: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;

            position: absolute;
            top: 90%;
            left: 50%;
            transform: translate(-50%, -50%);
            
            img {
                max-width: 20%;
                border-radius: 10px;
                align-self: center;

                &:hover {
                    opacity: 50%;
                    cursor: pointer;
                }

                &:active {
                    border: 2px solid $primary-orange;
                }
            }
        }

        display: none;
    }

    .open{
        display: block;
    }

    .closed {
        display: none;
    }
}

